<section id="content">
	<div id="map">
		<iframe width="385" height="310" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=690+Kenaston+Boulevard,+Winnipeg,+MB,+Canada&amp;aq=0&amp;oq=690+kenaston&amp;sll=37.0625,-95.677068&amp;sspn=53.477264,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=690+Kenaston+Blvd,+Winnipeg,+Manitoba+R3N+1Z3,+Canada&amp;t=m&amp;ll=49.853424,-97.206259&amp;spn=0.019369,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=690+Kenaston+Boulevard,+Winnipeg,+MB,+Canada&amp;aq=0&amp;oq=690+kenaston&amp;sll=37.0625,-95.677068&amp;sspn=53.477264,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=690+Kenaston+Blvd,+Winnipeg,+Manitoba+R3N+1Z3,+Canada&amp;t=m&amp;ll=49.853424,-97.206259&amp;spn=0.019369,0.036478&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
	<h1><%= @aboutpage.title %></h1>

	<p id="paragraph">
		<%= @aboutpage.content.html_safe %>
	</p>
</section>