<section id="content">
	<h1>Welcome</h1>
	<hr/>
	<p>Welcome to the home of Synergy Solutions where we connect you to the top local professionals of the financial fields. If you are looking for investments, insurance, real estate and lending, request to meet with our top local professionals in all areas.</p>
	<br/>
	<h2>Recent Updates</h2>
	<hr/>
	<p>Added new service: <span>Tax Returns</span></p>
	<p>Tax season is here, need help? We're the ones you want, <a href="contactus.html">Contact us</a> for more info.</p>
	<img id="p1img" src="/assets/pg1img.jpg" alt="Page 1 Image" />
</section>