<section id="content">
	<h1>Search Results for '<%= params[:keywords] %>'</h1>
	<hr />

	<h2>Contractors</h1>
	<ul>
		<% if @contractors.empty? %>
			<p><em>No contractors found.</em></p>
		<% end %>
		<%= render @contractors %>
	</ul>

	<h2>Services</h1>
	<ul>
		<% if @services.empty? %>
			<p><em>No services found.</em></p>
		<% end %>
		<%= render @services %>
	</ul>
</section>