<h1>Search Results for '<%= params[:keywords] %>'</h1>
<hr />
<h1>Customers</h1>
<% if @customers.empty? %>
	<p><em>No customers found.</em></p>
<% end %>
<%= render @customers %>

<h1>Contractors</h1>
<% if @contractors.empty? %>
	<p><em>No contractors found.</em></p>
<% end %>
<%= render @contractors %>

<h1>Services</h1>
<% if @services.empty? %>
	<p><em>No services found.</em></p>
<% end %>
<%= render @services %>