// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content
{
	float: left;
	width: 425px;
	height: 400px;
}

#content h1, #content h2
{
	margin: 15px;
	text-shadow: 1px 1px 4px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

#content p
{
	margin: 15px;
}

#p1img
{
	float: right;
	margin-right: -410px;
	margin-top: -250px;
	border: 1px solid #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#p2img
{
	float: right;
	margin-right: -410px;
	margin-top: -140px;
	width: 80%;
	height: 80%;
	border: 1px solid #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#map
{
	float: right;
	margin-top: -200px;
	margin-right: -410px;
	border: 2px solid #666;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}