// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content
{
	width: 825px;
}

#content h1
{
	margin: 15px;
	text-shadow: 1px 1px 4px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

#content h2, #content p, #content hr
{
	margin: 15px;
}

#paragraph
{
	width: 400px;
}

#p1img
{
	float: right;
	margin-right: -410px;
	margin-top: -250px;
	border: 1px solid #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#p2img
{
	float: right;
	width: 100px;
	height: 200px;
	border: 1px solid #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#map
{
	float: right;
	margin-top: 10px;
	border: 2px solid #666;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#contractor
{
	display: inline-block;
	list-style-type: none;
	border: 1px solid #000;
}

.contractors
{
	width: 150px;
	height: 200px;
}